.login-container{
    width: 600px;
    height: 280px;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    margin-top: 205px;
    display: flex;
padding-top: 60px;
    justify-content: space-evenly;
    border-radius: 8px;
}